@model Cinemas.Models.LichChieuPhim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LichChieuPhim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdgioChieuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdgioChieuNavigation.IdgioChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdphimNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdphimNavigation.Idphim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdlichChieu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
