@model Cinemas.Models.Phong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGhe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGhe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idphong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
