@model IEnumerable<Cinemas.Models.Account>

@{
    ViewData["Title"] = "Danh sách tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" asp class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="#">Quản lý tài khoản</a>
            <span class="breadcrumb-item active">Danh sách tài khoản</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="idrole" name="idrole" style="min-width: 230px;" asp-items="ViewBag.RoleName">
                            <option value="0" disabled selected >Chọn quyền truy cập</option>
                        </select>  
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" id="idstatus" name="idstatus" style="min-width: 230px;" asp-items="ViewBag.lsTrangThai">
                            <option value="" disabled selected>Chọn trạng thái</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Create" class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm tài khoản</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="col-sm-12">
                    <table class="table table-hover e-commerce-table dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>Avatar</th>
                                <th>UserName</th>
                                <th>Role</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                            foreach (var item in Model)
                            {
                                <tr role="row" class="odd">
                                    <td>
                                        @item.Idaccount
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img class="img-fluid rounded" src="~/assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                        </div>
                                    </td>
                                    <td>@item.Username</td>
                                    <td>@item.Role.RoleName</td>
                                    <td>
                                        @if (item.Active)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Active</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Block</div>
                                            </div>
                                        }
                                    </td>
                                    <td class="text-right">
                                        <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Edit" asp-route-id="@item.Idaccount" class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                            <i class="anticon anticon-edit"></i>
                                        </a>
                                            <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Delete" asp-route-id="@item.Idaccount" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            }
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div>